<div class="push_three seven columns">
	<h1>Log In</h1>
	<%= form_tag sessions_path do %>
	<div class="field">
		<%= label_tag :email %>
		<%= text_field_tag :email, params[:email], :class => "input" %>
	</div>
	<div class="field">
		<%= label_tag :password %>
		<input class="input" type="password" name="password"/>
		<%#= password_field_tag :password, :class => "input" %>
	</div>
	<div class="medium primary btn">
		<%= submit_tag "Log In" %>
	</div>
	<% end %>
</div>