<!DOCTYPE html>
<html>
<head>
	<title>My Basecamp Example</title>
	<%= javascript_include_tag :modernizr %>
	<%= stylesheet_link_tag    "application", media: "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>

	<div id="container">
		<div id="user_header">
			

	<nav class="navbar" id="navbar-main-nav">
		<div class="row">
			<a href="#" gumby-trigger="#navbar-main-nav #main-nav" class="toggle"><i class="icon-menu"></i></a>
			<nav class="ten columns pull_right">
				<ul id="main-nav">
					<li>
						<p class="medium metro default btn icon-user icon-left">
							<%= link_to "Sign Up", signup_path %>
						</p>
					</li>
					<li>
						<p class="medium metro secondary btn icon-user icon-left">
							<%= link_to "Sign In", login_path %>
						</p>
					</li>
				</ul>
			</nav>c4136
		</div>
	</nav>
	<div class="row">
		<% flash.each do |name, msg| %>
		<%= content_tag :div, msg, id: "flash_#{name}" %>
		<% end %>
	</div>
	<div class="row">
		<%= yield %>
	</div>
</div>
</body>
</html>
